<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h4>Cosecha vs Siembra</h4>
      <canvas id="harvestVsSowingChart"></canvas>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h4>Productividad por región</h4>
      <canvas id="productivityChart"></canvas>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h4>Alertas de cosecha</h4>
      <div id="harvestAlerts"></div>
    </div>
  </div>
</div>